body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  display: contents; 
  padding: 50px;
}

nav {
  display: flex;
  margin-bottom: 25px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  .current {
    border-bottom-width: 0.4em;
    padding-bottom: 0.1em;
  }
}
